---
title: Le monde de Miloud
---

	<div class="home">
		<div class="background"></div>
		<div class="presentation">
			<h1>Le monde de Miloud est en construction</h1>
			<p>Je m’appelle Miloud, je suis Graphiste &amp; Webdesigner.   
		Je vous <strong>accompagne dans la création de votre site web, votre Identité visuelle ainsi que vos supports de communication</strong>.<br><br>
		En attendant, rejoignez mon monde sur Facebook <a href="https://www.facebook.com/lemondedemiloud/">C'est ici !</a>. <br>



	
