---
title: Le monde de Miloud
---

	<div class="home">
		<div class="background"></div>
		<div class="presentation">
			<h1>Le monde de miloud est en cours de creation</h1>
			<p>Je m’appelle Miloud, je suis Graphiste &amp; Webdesigner.   
		Je vous <strong>accompagne dans la création de votre site web, votre Identité visuelle ainsi que vos supports de communication</strong>.<br><br>
		En attendant, rejoignez mon monde sur Facebook <a href="https://www.facebook.com/lemondedemiloud/">C'est ici !</a>. <br>



			<% link_to "#apropos" do %>  <!-- Bouton scroll about -->
 		<%= image_tag "dark_arrow.svg", class: "arrow floating" %>
 		<% end %><!-- Fin Bouton scroll about -->
		</div>

	</div>
	<div id="apropos">
		<div class="quote_blue">
			<div class="quote_text">« Choisissez un travail que vous aimez et vous 
			n’aurez pas à travailler un seul jour de votre vie »</div>
			<div class="line"></div>
			<div class="author">Confucius</div>
		</div>

		<div class="padded"></div>

		<div class="story">
			<div class="row"><!-- row -->
				
					<div class="miloud">
					<%= image_tag "portrait.png", class: "portrait" %>
					</div>
				<div class="title">Ma petite histoire</div>
				<div class="line_story"></div>
				<div class="histoire">
				

					Après un parcours scolaire dans la comptabilité, j’ai travaillé pendant 5 ans dans une entreprise de grande distribution en tant que comptable. <div class="bold">Mais après quelques années, je n’étais plus épanoui.</div><br><br>

					 J’ai un jour entendu parlé d’entreprenariat dans le web et le concept m’a beaucoup plus par la possibilité d’être <div class="bold">libre et faire un travail qui me passionne.</div><br><br>

					Cela dit je n’avais pas de passion, j’ai dû faire des recherches afin de trouver ce qui me faisais vibrer. 
					Dans ma jeunesse, il y a un logiciel que j’aimais beaucoup utiliser c’était Photoshop, je passais des journées à créer sans limites aussi j’ai toujours eu un goût prononcé pour l’esthétique, le design et les belles choses.<br><br>

					J’ai donc après réflexion, pris la décision de me former au Webdesign afin de me reconvertir professionnellement. Et ce choix risqué a finalement été le bon, après quelques mois de formation, 
					<div class="bold">ce fut une révélation et ma passion pour le design n’a cessée de grandir.</div> <br><br>

					La concrétisation de ce rêve n’a certes pas été facile, j’ai du investir énormément en temps et en argent, mais j’y suis arrivé grâce à cette force qui ne m’a jamais quitté, <div class="bold">ma passion pour ce métier</div>.<br> <br>

					Mon objectif en tant que Webdesigner freelance est <div class="bold">l’accompagnement des entrepreneurs, indépendants, petite entreprise à créer leur univers graphique </div> (Logo, supports de communication et site web) à travers <div class="bold">ma passion pour ce métier et mes valeurs humaines</div>. 
				</div>

			</div><!-- Row -->

			
			<div class="row jaime">
				<div class="col-md-2">
					<%= image_tag "like.svg", class: "like" %>
				</div>
				<div class="col-md-10 col-xs-12 like_text">
					J’aime le design, le code, l’entreprenariat, le thé, le football, les mangas,
					le bio, voyager, les chats, les avengers, Photoshop, le macbook.

				</div>

			</div>
		</div><!-- Story -->
		<div class="arrow_base">
		<% link_to "#apropos" do %>  <!-- Bouton scroll about -->
 		<%= image_tag "blue_arrow.svg", class: "blue_arrow floating center" %>
 		<% end %><!-- Fin Bouton scroll about -->
 		</div>
		
		<div class="padded"></div>
		<div class="quote_yellow">
			<div class="quote_text">« Je n’ai pas de talent spécial.<br>je suis juste passionnément curieux»</div>
			<div class="line"></div>
			<div class="author">Albert Einstein</div>
		</div>
		<div class="padded"></div>

	</div>
	
